@import '_utils';
@import '_respond';

$grid-columns: 12;
$grid-gutter: 10px;
$viewport-width: 320px !default;

@include respond-to($screen-size) {
	.container {
		@extend %clearfix;
		width: $viewport-width;
	}
}

%grid-column-base {
	float: left;
	box-sizing: border-box;
	padding: $grid-gutter;
}

@for $i from 1 through $grid-columns {
	.col-#{$screen-size}-#{$i} {
		@extend %grid-column-base;
		width: $i * 100% / $grid-columns;
	}
}