$grid-num-cols: 12;
$default-gutter: 2%;

@mixin grid-container($cols: $grid-num-cols, $num-cols: $grid-num-cols) {
	@if ($cols < $num-cols) {
		width: ( $cols / $num-cols ) * 100%;
	}
	@extend %cf;
}

%grid-base {
	float: left;
	box-sizing: border-box;
	background: lightgrey;
	padding: $default-gutter;
	margin: $default-gutter;
}

@mixin grid($cols, $gutter: $default-gutter, $num-cols: $grid-num-cols) {
	width: ( $cols / $num-cols ) * 100% - 2 * $gutter;
	@if ($gutter != $default-gutter) {
		padding: $gutter;
		margin: $gutter;
	}
}

%cf:before,
%cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
%cf:after {
    clear: both;
}
%cf {
    *zoom: 1;
}