@import '_utils';
@import '_respond';

$grid-quick: false !default;
$grid-full-width: false !default;
$grid-columns: 12 !default;
$grid-gutter: 15px !default;
$grid-width: 320px !default;
$grid-column-width: $grid-width / $grid-columns;

//TODO: bryt ut sånt som bara behöver vara på grund-cssen, typ float, margin osv

/// The grid container mixin.
@mixin grid() {
	margin-left: - $grid-gutter;
	margin-right: - $grid-gutter;
}

@mixin grid-column($span, $total: $grid-columns) {
	@if $span == $total {
		float: none;
		width: auto;
	} @else {
		float: left;
		width: percentage($span / $total);
	}
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
	min-height: 1px; //to avoid collapsing empty columns
}

@mixin grid-push($cols, $total: $grid-columns) {
	position: relative;
	left: percentage($cols / $total);
}

@mixin grid-pull($cols, $total: $grid-columns) {
	position: relative;
	left: percentage($cols / $total);
}

@if $grid-quick {
	@include respond-to(xs) {
		.row {
			@include grid;
		}
	}

	@each $layout-size in xs, s, m, l, xl {
		@for $i from 1 through $grid-columns {
			.col-#{$layout-size}-#{$i} {
				@include grid-column($i);
			}
		}
	}
}
